:root{
    --primary-light: #10A3E6;
    --primary: #2472BA;
    --primary-darker: #0D3039;
    --light-gray: #cfe1eb;
    --gray: #63777e;
    --dark-gray: #446464;
    --white: #FFFFFF;
    --black-gray: #2F3334;
    --black: #000000;
    font-size: 60%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
textarea,
button {
    font: 500 1.6rem 'Poppins';
}